.venv
__pycache__
.ipynb_checkpoints
*.pyc
requirements.txt
requirement.txt
*.egg-info
config/configure.py
config/config.yml
logs
data
reports*
.DS_Store
data_local
models*
docker/.env.compose
notebooks/TEST_notebook.ipynb
.env
test/
notebooks/annotations.csv
xray-pipeline.png
